<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
<body>
    <div class = "container">
        <div class="row mt-5">
            <h1>보행자 정보 입력 (숫자만 입력)</h1>
        </div>

        <!--img src="url(img/logo.png)", width = "495", height="141"-->
        <div class="col-12">
            <br><br>
            <form method="POST" action="/config/fin">
                <div class="form-group">
                    <label>보행자 아이디</label>
                    <input type="text" class="form-control" id="patient_id" placeholder="숫자 혹은 문자 입력" name="patient_id"/>
                </div>
                <div class="form-group">
                    <label>보행자 보폭(cm)</label>
                    <input type="number" class="form-control" id="patient_stride" placeholder="콘텐츠#1,#2: 180권장 / 콘텐츠#3 200권장" name="patient_stride"/>
                </div>

                <div class="form-group">
                    <label>보행자 발 너비(cm)</label>
                    <input type="number" class="form-control" id="patient_width" placeholder="150권장" name="patient_width"/>
                </div>

                <div class="form-group">
                    <label>교차 영역 (%)</label>
                    <input type="number" class="form-control" id="overlapping_area" placeholder="예: 15" name="overlapping_area"/>
                </div>

                <div class="form-group">
                    <label>보행자 발 사이즈</label>
                    <input type="number" class="form-control" id="foot_size" placeholder="발 사이즈 입력" name="foot_size"/>
                </div>

                <input type="radio" name="chk_info" value="content1" checked="checked">콘텐츠#1
                <input type="radio" name="chk_info" value="content2">콘텐츠#2
                <input type="radio" name="chk_info" value="content3">콘텐츠#3

                <br><br>

                <button type="submit" class="btn btn-primary">제출</button>

            </form>
        </div>
        </div>
</body>
</html>